.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  background: white;
  width: 25rem;
  border-radius: 5px;
}

.billClass {
  outline: none;
  border-radius: 5rem;
  height: 1.5rem;
  width: 10rem;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
}

.tipClass {
  outline: none;
  border-radius: 5rem;
  height: 1.5rem;
  width: 10rem;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
}

.button {
  display: flex;
  margin: auto;
  margin-top: 1.5rem;
  border-radius: 5rem;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  height: 1.5rem;
  width: 8rem;
}

.main-header {
  font-size: 30px;
}

.sub-header {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
}

.totalAmount {
  display: flex;
  justify-content: center;
}

.button:hover {
  opacity: 80%;
}

footer {
  text-align: right;
}

.tip-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
